body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: articulat-cf, sans-serif;
}

.swiper {
  height: 100vh;
}

.swiper .swiper-pagination-bullet {
  background-color: #2e2e2e;
  width: 15px;
  height: 15px;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 35px) 0;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 25px);
}

/* btn avec le blur en bg */

.backBtn {
  height: 32px;
  width: 32px;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7px);
  border: 2px solid #fff;
  border-radius: 50%;

  position: absolute;
  top: 5%;
  left: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  padding: 30px 30px;

  color: black;
  font-size: 60px;

  text-decoration: none;
}

.fullscreen {
  z-index: 800;
  background-color: red;
  width: 100svw;
  height: 100svh;
  position: absolute;

  overflow: hidden;
}

.fullscreen__btn {
  position: relative;
  top: 80%;
  left: 50%;
  z-index: 1001;
  /* bottom: 0%; */
  /* right: 0%; */
  color: white;
  background-color: transparent;
  padding: 20px;
  font-size: 32px;
  border: white 5px solid;
  border-radius: 24px;
}

.fullscreenOff {
  animation: top 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes top {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(-110%);
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper__container {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: fit-content;

  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7px);

  position: relative;
  top: 60%;
  left: calc(100%);

  border-radius: 20px;
  border: 40px solid transparent;
}

.swiper__number {
  font-size: 86px;
}

.swiper__step {
  font-size: 46px;
}

.swiper__description {
  font-size: 22px;
  width: 450px;

  line-height: 1.5;
}

.swiper__name {
  font-size: 23px;
}

.swiper__student {
  font-size: 73px;
}

.swiper__step,
.swiper__description,
.swiper__number,
.swiper__student,
.swiper__name {
  position: relative;
  /* right: 10%; */
  font-weight: 800;
  margin: 0;
}

.swiper__step,
.swiper__description,
.swiper__number {
  text-align: end;
}
