:root {
  font-family: articulat-cf, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4;
  font-size: 22px;
  color: #2e2e2e;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.titre {
  font-weight: 700;
  font-size: 46px;
}

.titre--big {
  font-size: 61px;
  line-height: 95%;
  margin: 0;
}

.titre--color {
  color: #ef3325;
}

.paragraphe {
  margin: 15px 0 45px 0;
}

.choose {
  box-sizing: border-box;
  width: 45%;
  padding-top: 25vh;
  padding-left: 35px;
  padding-right: 3%;
  max-height: 100vh;
}

.choose__grid {
  width: 55%;
  height: 100vh;
  box-sizing: border-box;

  padding: 10px 5px 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  overflow: hidden;
}

.btn__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 10px 27px;
  border-radius: 34px;
  border: 3px solid #2e2e2e;
  margin: 7.5px;
}

.grid__el {
  width: 28%;
  display: block;
  margin: 10px;
  height: 24%;
  border-radius: 26px;
  background-image: url(../assets/images/1.jpg);
  background-size: cover;
  background-position: center;
}

.grid__el:nth-child(6n) {
  margin-right: 65px;
}

/* A modif  */
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-content: center;
}

.hover {
  background-color: #ef3325;
  color: white;
}
